<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="MyController">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <ul>
                <li ng-repeat="movie in movies">
                  <input type="checkbox" ng-model="movie.favorite">
                  <a ng-href="{{movie.previewUrl}}" target="_new">
                    {{movie.title}}
                  </a>
                  <br/>
                  <img ng-src="{{movie.image}}" />
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">

            <pre>
            {{itunes | json}}
            </pre>
        </div>
    </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script>
    var myApp = angular.module('myApp', []);
    myApp.controller("MyController", ['$scope', '$http', '$q', function ($scope, $http, $q) {
        $scope.movies = [];
        $scope.itunes = {type:"not working"};

        var myURL = "https://itunes.apple.com/search?term=potter&media=movie&callback=JSON_CALLBACK";
        $http.jsonp(myURL)
        .success(function (result) {

            $scope.itunes = result;
            $scope.itunes.results.forEach( function(item) {
              var movie = {};
              movie.title = item.trackName;
              movie.favorite = false;
              movie.previewUrl = item.previewUrl;
              movie.image = item.artworkUrl30;
              $scope.movies.push(movie);
            });

        })
        .error( function (error) {

        });

    }]);
</script>
</body>

</html>
